@import 'colors';
@import 'texts';

.button {
  width: 252px;
  height: 32px;
  border: 2px solid $wolox-green;
  border-radius: 5px;
  margin-bottom: 24px;
}

.depressedButton {
  width: 252px;
  height: 32px;
  color: $white;
  background-color: $wolox-green;
  border-radius: 5px;
}

.signup {
  width: 100%;
  max-width: 300px;
  border-top: 8px solid $wolox-blue;
  box-shadow: 2px 5px 5px;
  padding: 20px 24px 24px 24px;
}

.signupButtonContainer {
  border-bottom: 2px solid $grey;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.signupContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.signupFormInput {
  width: 100%;
  max-width: 252px;
  height: 32px;
  margin-bottom: 16px; 
}

.signupFormText {
  margin-bottom: 8px;
}

.signupLogo {
  width: 212.42px;
  height: 70px; 
}

.signupLogoContainer {
  padding: 0px 19.58px 0px 20px;
  margin-bottom: 16px;
}
