@import "../../../scss/colors.scss";

.button {
  width: 252px;
  height: 32px;
  border: 2px solid $wolox-green;
  border-radius: 5px;
  margin-bottom: 24px;
}

.depressed-button {
  width: 252px;
  height: 32px;
  color: $white;
  background-color: $wolox-green;
  border-radius: 5px;
}

.depressed-button-container {
  border-bottom: 2px solid $grey;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.signup {
  width: 100%;
  max-width: 300px;
  border-top: 8px solid $wolox-blue;
  box-shadow: 2px 5px 5px;
  padding: 20px 24px 24px 24px;
}

.signup-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.signup-form-input {
  width: 100%;
  max-width: 252px;
  height: 32px;
  margin-bottom: 16px; 
}

.signup-form-text {
  margin-bottom: 8px;
}

.signup-logo {
  width: 212px;
  height: 70px; 
}

.signup-logo-container {
  padding: 0px 19px 0px 20px;
  margin-bottom: 16px;
}
