.book-list {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  padding: 10px 30px;
}

.book-thumbnail {
  box-shadow: 1px 1px 2px;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 30px;
  height: 281px;
  width: 199px; 
}

.book-thumbnail-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 220px;
  width: 156px;
}

.book-thumbnail-element {
  margin: 10px;
}
