.book,
.book-container,
.book-element,
.book-info,
.book-title {
  display: flex;
}

.book {
  box-shadow: 2px 5px 10px;
  padding-top: 15px;
  padding-left: 15px;
}

.book-container {
  flex-direction: column;
  padding: 25px;
}

.book-element {
  margin-bottom: 36px;
}

.book-element-heading {
  margin-right: 4px;
}

.book-info {
  flex-direction: column;
  width: 100%;
  max-width: 540px;
  font-family: Roboto;
}

.book-image {
  width: 100%;
  height: 100%;
}

.book-image-container {
  position: relative;
  height: 562px;
  width: 100%;
  max-width: 398px;
  margin-right: 25px;
  margin-bottom: 15px;

  &:after {
    transform: rotate(20deg);
    background: url('images/badge.png') left / contain no-repeat;
    content: '';
    position: absolute;
    height: $badge-height;
    width: $badge-width;
    right: -15px;
    top: -15px;
  }
}

.book-title {
  margin-bottom: 30px;
  border-bottom: 2px solid $lime;
  padding-bottom: 12px;
}

.redirect-button {
  margin-bottom: 110px;
  height: 22px;
  width: 91px;
  position: relative;
  right: -30px;

  &:before {
    background: url('images/back-arrow.png');
    display: inline-block;
    content: '';
    height: 20px;
    right: 100px;
    bottom: 5px;
    position: absolute;
    width: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .book-container {
    align-items: center;
  }

  .book {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width:  336px;
    margin-bottom: 20px;
    padding-left: 0;
  }

  .book-element-heading {
    margin-right: 2px;
    font-size: 13px;
  }

  .book-element-text {
    font-size: 13px;
  }

  .book-info {
    width: 100%;
    max-width: 300px;
  }

  .book-image-container {
    margin-right: 0;
    margin-bottom: 21.09px;
    width: 212px;
    height: 298.91px;

    &:after {
      height: $badge-height*$badge-responsive-conversion-rate;
      width: $badge-width*$badge-responsive-conversion-rate;
    }
  }

  .redirect-button {
    order: 2;
  }
}
