.book,
.book-element,
.book-elements {
  display: flex;
}

.book-element {
  margin-top: 10%;
}

.book-element-text {
  margin-left: 1%;
}

.book-info {
  flex-direction: column;
  width: 25%
}

.book-image {
  height: 562px;
  width: 398px;
  margin: 1%;
}

.book-title {
  
}
