body {
  padding: 10px;
}

.book,
.book-element,
.book-info,
.book-title {
  display: flex;
}

.book {
  box-shadow: 2px 5px 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.book-element {
  margin-bottom: 30px;
}

.book-element-heading {
  margin-right: 4px;
}

.book-info {
  flex-direction: column;
  padding-top: 15px;
}

.book-image {
  width: 100%;
  height: 100%;
}

.book-image-container {
  position: relative;
  height: 562px;
  width: 398px;
  margin: 25px;

  &:after {
    transform: rotate(20deg);
    background: url('images/badge.png') left / contain no-repeat;
    content: "";
    position: absolute;
    height: 20%;
    width: 20%;
    right: -15px;
    top: -15px;
  }
}

.book-info {
  flex-direction: column;
  width: $book-info-width;
  margin-left: 25px;
}

.book-title {
  margin-bottom: 30px;
  border-bottom: 2px solid $lime;
  padding-bottom: 12px;
}
